<h1>Create a Deck</h1>
<p>Your new deck will appear next time you go to the Deck Viewer</p>
<form action="/createDeck" method="post">
  <div>
    <label for="name">Deck Name</label>
    <input type="text" name="name"placeholder="Deck Name"/>
  </div>
  <button type="submit">Create</button>
</form>
